* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

body {
    background-color: #2F1983;
    width: 100%;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
}

.active {
    color: rgb(173, 173, 173) !important;
}

.nav-link:hover {
    color: white;
}

.purchase {
    background-color: #f14c68;
    width: 120px;
    text-align: center;
    border-radius: 25px;
    padding: 2px;
    margin-top: 6px;
}

.text-area {
    /* width: 300px; */
}


.text-area button {
    background-color: #f14c68;
    border-radius: 25px;
    border: none;
    padding: 5px 18px;
    color: white;
}

.form {
    background-color: white;
    padding: 25px 4rem;
    margin-bottom: 15px;
}

.form h4 {
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 600;
    font-size: 28px;
    padding: 5px 20px;
}

.fields input:not([type="checkbox"]) {
    width: 100%;
    border-radius: 25px;
    padding: 5px 15px;
    border: 1px solid rgb(173, 171, 171);
    margin-top: 20px;
    outline: none;
}

.terms {
    margin-top: 20px;
    color: grey;
    margin-bottom: 15px;
}

.row h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.row p {
    font-size: 20px;
}

.fields button {
    width: 100%;
    margin: 8px 0;
    border: none;
    padding: 5px;
    border-radius: 25px;
    background-color: #2b4de7;
    color: white;
}

.fields a {
    color: rgb(49, 142, 218);
    text-decoration: none;
}

.fields .line {
    width: 200px;
    background-color: rgb(170, 167, 167);
    height: 2px;
    margin-top: 8px;
    opacity: 0.6;
}
.fields h6{
    padding: 0 5px;
}

.twitter button {
    background-color: #1DA1F2 !important;
    color: white;
}

.account {
    font-size: 16px !important;
}