* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

body {
    background-color: #2F1983;
    width: 100%;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    margin: 0 0px 0px 15px;
}

.active {
    color: rgb(173, 173, 173) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: rgb(233 58 125);
}

.purchase {
    background-color: #E93A7D;
    width: 120px;
    text-align: center;
    border-radius: 25px;
    height: 40px;
}

.purchase:hover,
.purchase:focus {
    color: white !important;
}

.text-area {
    padding: 0px 50px 0px 0px;
}

.text-area button {
    background-color: #e93a7d;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 18px;
    width: 157px;
    height: 50px;
    transition: 0.5s;
}

.terms input {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
}

.form {
    background-color: white;
    padding: 25px 4rem;
    margin-bottom: 60px;
}

.form h4 {
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 600;
    font-size: 41px;
    padding: 10px 20px;
}

.fields input:not([type="checkbox"]) {
    width: 100%;
    border-radius: 25px;
    padding: 0px 15px;
    border: 1px solid #d6d6d6;
    margin-top: 20px;
    outline: none;
    height: 50px;
}

.fields input::placeholder {
    color: #15143986;
}

.terms {
    margin-top: 20px;
    color: #15143986;
    margin-bottom: 15px;
    font-size: 18px;

}

.row h1 {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 2.5px;
}

.row p {
    font-size: 20px;
    margin: 27px auto;
    padding: 0px 50px 0 0;
}

.fields button {
    width: 100%;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    background-color: #2b4de7;
    color: white;
    height: 50px;
    transition: 0.5s;
}

.fields a {
    color: rgb(49, 142, 218);
    text-decoration: none;
}

.fields .line {
    width: 200px;
    background-color: #aaa9ac;
    height: 2px;
    margin-top: 8px;
    opacity: 0.6;
}

.fields h6 {
    padding: 0 5px;
}

.twitter button {
    background-color: #1DA1F2 !important;
    color: white;
}

.account {
    font-size: 18px !important;
    color: #15143986;
}